---
import type { BiographyItem } from "../consts";

type Props = {
  title: string;
  items: BiographyItem[];
};

const { title, items } = Astro.props;
---

<section>
  <h2 class="text-2xl font-bold mb-4">{title}</h2>
  <ul class="space-y-2">
    {
      items.map((item) => (
        <li>
          <span class="mr-2">{item.icon}</span>
          <a href={item.url} target="_blank" rel="noopener noreferrer">{item.label}</a>
        </li>
      ))
    }
  </ul>
</section>
